ESPECIFICACIONES/RESTRICCIONES:
-
**PERFILES:**
-
Debe haber 3 tipos de perfil (además del superadmin otorgado por Django):
- [ ] VISITANTE
- [ ] MIEMBRO (o usuario registrado)
- [ ] COLABORADOR (tambien es usuario registrado)

**VISITANTE** podrá:
- [X] NAVEGAR por el blog
- [X] FILTRAR articulos (posteos)
- [X] LEER artículos (posteos)
- [X] REGISTRARSE y loguearse ( convertirse en miembro o usuario registrado)

**MIEMBRO** podrá (Ademas de lo que hace el VISITANTE):
- [X] COMENTAR artículos
- [X] EDITAR o eliminar sus propios comentarios
- [X] Desloguearse

**COLABORADOR** podrá (Ademas de lo que hace el MIEMBRO):
- [X] CREAR, Editar y Eliminar artículos, fotos y comentarios asociados a los articulos
- [X] CATEGORIZAR artículos (asignar categoria)


APLICACION WEB tipo BLOG:
-
Debe contener las siguientes secciones (o equivalentes):

- **INICIO** (o Portada):
- [X] Mostrar selección de publicaciones mas recientes o destacadas.
- [X] Proporcionar visión general del contenido del blog
- [X] Permitir a visitantes explorar fácilmente las ultimas actualizaciones.

- **CATEGORIAS:** Se debe dividir el contenido del blog en categorías temáticas claras y organizadas.

- **ACERCA DE:**
- [ ] Proporcionar información sobre el blog y su propósito
- [ ] Puede incluir breve descripción del equipo detrás del blog

- **CONTACTO:** Debe ofrecer a los visitantes una forma de ponerse en contacto con el equipo que administra el blog:
A través de:
- [X] formulario de contacto
- [X] dirección de correo electrónico del grupo
- [X] redes sociales del grupo

IMPORTANTE: Las secciones anteriormente propuestas son consideradas requisito mínimo, Se pueden agregar mas secciones si el equipo de desarrolladores desea.

**FUNCIONES**
-
- [X] Registrarse, loguearse, desloguearse.

- [X] ARTICULOS: Crear, Leer, Editar, Eliminar
- [ ] COMENTARIOS: Crear, Leer, Editar, Eliminar

FILTRAR ARTICULOS por:
- [X] Categoría.
- [ ] Antigüedad (ascendente y descendente)
- [ ] Orden alfabético (ascendente y descendente)