{% extends 'blog/base.html' %}
{% load static %}

{% block navegador %}
<a href={% url 'inicio' %} class="nav-item nav-link">inicio</a>
<a href={% url 'about' %} class="nav-item nav-link">Acerca de</a>
<a href={% url 'contacto' %} class="nav-item nav-link">Contacto</a>
{%if request.user.is_authenticated %}
    <a href={% url 'info' %} class="nav-item nav-link">Info</a>
{% endif %}
{% endblock navegador %}

{% load crispy_forms_tags %}

{% block contenedor %}
<div class="container">
    <div class="row mt-5 pt-5">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <table>
                    <tr>
                        <th class="text-center">Suscriptores</th>
                        <th class="text-center">Fecha</th>
                    </tr>
                    {% for email in lista_emails %}
                        <tr>
                            <td>{{ email.email }}</td>
                            <td>{{ email.date|date:'d M Y' }}</td>
                        </tr>
                    {% endfor %}
                </table>
<!--
                <div class="card-body">
                    <table>
                        <tr>
                          <th>Suscriptores</th>
                          <th>Fecha</th>
                        </tr>
                        {% for email in lista_emails %}
                            <tr>
                                <td>{{ email.email }}</td>
                                <td>{{ email.date }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    
                    {% for email in lista_emails %}
                        <li>
                            <a>{{ email.email }}</a> {{ email.date}}
                        </li>
                        
                    {% endfor %}

                </div>
-->
            </div>
        </div>
    </div>
</div>
{% endblock contenedor %}